{% extends "base.html" %}

{% block content %}

<section class="container py-5">

    <div class="text-center mb-5">
        <h1 class="fw-bold">Our Menu</h1>
        <p class="text-muted">
            Explore our healthy Moringa products.
        </p>
    </div>
    <div class="row mb-4">
    <div class="col-md-6 mx-auto">

        <form method="GET">

            <div class="input-group">

                <input
                    type="text"
                    name="q"
                    value="{{ query }}"
                    class="form-control"
                    placeholder="Search products...">

                <button class="btn btn-success">
                    Search
                </button>

            </div>

        </form>

    </div>
</div>
<form method="GET" class="row g-3 mb-4">

    <div class="col-md-6">
        <input
            type="text"
            name="q"
            value="{{ query }}"
            class="form-control"
            placeholder="Search products">
    </div>

    <div class="col-md-4">

        <select name="category" class="form-select">

            <option value="">All Categories</option>

            <option value="Powder">Powder</option>

            <option value="Tea">Tea</option>

            <option value="Capsules">Capsules</option>

            <option value="Oil">Oil</option>

        </select>

    </div>

    <div class="col-md-2">
        <button class="btn btn-success w-100">
            Filter
        </button>
    </div>

</form>

    <div class="row g-4">

        {% for product in products %}

        <div class="col-md-4">

            <div class="card h-100 shadow-sm border-0">

                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     alt="{{ product.name }}">

                <div class="card-body text-center">

                    <h4>{{ product.name }}</h4>

                    <p class="text-muted">
                        {{ product.description|truncatewords:15 }}
                    </p>

                    <h3 class="text-success">
                        ₹{{ product.price }}
                    </h3>

                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-success">
                        View Product
                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12 text-center">
            <h4>No Products Available</h4>
        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}